/* Common Nav Styles */
.navigation-wrapper {
    padding: 0px 20px;
    height: 100px;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Left Column Styles */
.navigation-wrapper > .left-column > .logo img {
    width: 150px
}

/* Center Column Styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 400px;
}

.navigation-wrapper > .center-column > .top-row {
    color: gold;
}

.navigation-wrapper > .center-column > .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper > .center-column > .bottom-row > .links {
    width: 300px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper > .center-column > .bottom-row > .dropdown {
    width: 60px;
    color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Right Column Styles */
.navigation-wrapper > .right-column {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper > .right-column > .dropdown {
    background-color: #36393e;
    padding: 15px 20px;
    border-radius: 3px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper > .right-column > .dropdown > .arrow {
    font-size: 1.4em;
    color: mediumseagreen;
}

.navigation-wrapper > .right-column > .search-icon {
    font-size: 2em;
    color: lightgrey;
}

.navigation-wrapper > .right-column > .buttons {
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper > .right-column > .butttons > .nav-button-one, .nav-button-one {
    background-color: #36393e;
    padding: 15px 20px;
    border-radius: 3px;
}

.navigation-wrapper > .right-column > .butttons > .nav-button-one, .nav-button-two {
    background-color: #36393e;
    padding: 15px 20px;
    border-radius: 3px;
}